services:
  mc:
    image: itzg/minecraft-server
    environment:
      EULA: "true"
      MODRINTH_MODPACKS: 6HvKwSky
      VERSION: tGqYeW2p
      ENABLE_WHITELIST: true
      WHITELIST: ${WHITELIST}
      RCON_PASSWORD: ${RCON_PASSWORD}
    ports:
      - "25565:25565"
    volumes:
      - data:/data
    stdin_open: true
    tty: true
    restart: unless-stopped
volumes:

  data: {}


