services:
  mc:
    image: itzg/minecraft-server
    environment:
      MEMORY: "12G"
      TYPE: "MODRINTH"
      INIT_MEMORY: "12G"
      MAX_MEMORY: "14G"
      EULA: "true"
      VERSION: "1.20.1"
      #MODRINTH_PROJECTS: fabric-api
      MODRINTH_MODPACK: homestead
      MODRINTH_VERSION: tGqYeW2p
      #MODRINTH_LOADER: fabric
      ENABLE_WHITELIST: true
      WHITELIST: ${WHITELIST}
      RCON_PASSWORD: ${RCON_PASSWORD}
    ports:
      - "25565:25565"
    volumes:
      - data:/data
    env_file:
      - .env
    stdin_open: true
    tty: true
    restart: unless-stopped
volumes:

  data: {}
















